# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Arrays/Initializing an array of integers/out/
/Topics/Arrays/Initializing an array of integers/out/production/classes/
/Topics/Arrays/Swap elements/out/
/Topics/Arrays/Swap elements/out/production/classes/
/Topics/Characters/A capital letter or a digit/out/
/Topics/Characters/A capital letter or a digit/out/production/classes/
/Topics/Characters/Compare Latin letters/out/
/Topics/Characters/Compare Latin letters/out/production/classes/
/Topics/Characters/Comparing numbers and characters/out/
/Topics/Characters/Comparing numbers and characters/out/production/classes/
/Topics/Characters/Previous character/out/
/Topics/Characters/Previous character/out/production/classes/
/Topics/Data types/Fix the program/out/
/Topics/Data types/Fix the program/out/production/classes/
/Topics/Declaring functions/Get last digit/out/
/Topics/Declaring functions/Get last digit/out/production/classes/
/Topics/Declaring functions/The square of a number/out/
/Topics/Declaring functions/The square of a number/out/production/classes/
/Topics/Declaring functions/The sum of three numbers/out/
/Topics/Declaring functions/The sum of three numbers/out/production/classes/
/Topics/For loop and ranges/Count the numbers/out/
/Topics/For loop and ranges/Count the numbers/out/production/classes/
/Topics/For loop and ranges/Fizz Buzz/out/
/Topics/For loop and ranges/Fizz Buzz/out/production/classes/
/Topics/For loop and ranges/The minimum value of N numbers/out/
/Topics/For loop and ranges/The minimum value of N numbers/out/production/classes/
/Topics/For loop and ranges/The roots of equation/out/
/Topics/For loop and ranges/The roots of equation/out/production/classes/
/Topics/For loop and ranges/The sum of integers from a to b/out/
/Topics/For loop and ranges/The sum of integers from a to b/out/production/classes/
/Topics/For loop and ranges/The sum of N numbers/out/
/Topics/For loop and ranges/The sum of N numbers/out/production/classes/
/Topics/If expression/Check a number is positive/out/
/Topics/If expression/Check a number is positive/out/production/classes/
/Topics/If expression/Healthy sleep/out/
/Topics/If expression/Healthy sleep/out/production/classes/
/Topics/If expression/Interval/out/
/Topics/If expression/Interval/out/production/classes/
/Topics/If expression/Leap year/out/
/Topics/If expression/Leap year/out/production/classes/
/Topics/If expression/Odd or even/out/
/Topics/If expression/Odd or even/out/production/classes/
/Topics/If expression/Positive, Negative or Zero/out/
/Topics/If expression/Positive, Negative or Zero/out/production/classes/
/Topics/If expression/The max of three numbers/out/
/Topics/If expression/The max of three numbers/out/production/classes/
/Topics/If expression/The max of two numbers without else-branch/out/
/Topics/If expression/The max of two numbers without else-branch/out/production/classes/
/Topics/Integers in action/Good rest on vacation/out/
/Topics/Integers in action/Good rest on vacation/out/production/classes/
/Topics/Integers in action/How many nuts will be left after division/out/
/Topics/Integers in action/How many nuts will be left after division/out/production/classes/
/Topics/Integers in action/The sum of digits/out/
/Topics/Integers in action/The sum of digits/out/production/classes/
/Topics/Integers in action/Time format/out/
/Topics/Integers in action/Time format/out/production/classes/
/Topics/Overview of the basic program/Your name/out/
/Topics/Overview of the basic program/Your name/out/production/classes/
/Topics/Ranges/Between two numbers/out/
/Topics/Ranges/Between two numbers/out/production/classes/
/Topics/Ranges/Job/out/
/Topics/Ranges/Job/out/production/classes/
/Topics/Ranges/Within a range/out/
/Topics/Ranges/Within a range/out/production/classes/
/Topics/Ranges/Within both ranges/out/
/Topics/Ranges/Within both ranges/out/production/classes/
/Topics/Relational operators/Are the numbers different/out/
/Topics/Relational operators/Are the numbers different/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Relational operators/Inbetween/out/
/Topics/Relational operators/Inbetween/out/production/classes/
/Topics/Repeating blocks/Counting positive numbers/out/
/Topics/Repeating blocks/Counting positive numbers/out/production/classes/
/Topics/Repeating blocks/Grades/out/
/Topics/Repeating blocks/Grades/out/production/classes/
/Topics/Repeating blocks/Kotlin x5/out/
/Topics/Repeating blocks/Kotlin x5/out/production/classes/
/Topics/Repeating blocks/Maximum element divisible by 4/out/
/Topics/Repeating blocks/Maximum element divisible by 4/out/production/classes/
/Topics/Repeating blocks/Print a string exactly ten times/out/
/Topics/Repeating blocks/Print a string exactly ten times/out/production/classes/
/Topics/Repeating blocks/Size of parts/out/
/Topics/Repeating blocks/Size of parts/out/production/classes/
/Topics/String templates/Arithmetic expression/out/
/Topics/String templates/Arithmetic expression/out/production/classes/
/Topics/The classification of basic types/Size, min and max/out/
/Topics/The classification of basic types/Size, min and max/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/Squares of natural numbers/out/
/Topics/While loops/Squares of natural numbers/out/production/classes/
/Topics/While loops/The largest element/out/
/Topics/While loops/The largest element/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/
/Topics/Working with strings/N-th symbol/out/
/Topics/Working with strings/N-th symbol/out/production/classes/
/Topics/Working with strings/Name Card/out/
/Topics/Working with strings/Name Card/out/production/classes/
/Topics/Working with strings/The information about a person/out/
/Topics/Working with strings/The information about a person/out/production/classes/
/Topics/Working with strings/The number of tens/out/
/Topics/Working with strings/The number of tens/out/production/classes/